force-app/main/default/flows/Verify_Zip_Code.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CallAction</name>
        <label>CallAction</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <actionName>NamedCredential.GetCall</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>isUSRelated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Results_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>Country_Code</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>zipCode</name>
            <value>
                <elementReference>Zip_Code</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NamedCredential.GetCall</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>this assigns the result bases on the condition</description>
        <name>Result_Message_Assignment_when_no_record_is_created</name>
        <label>Result Message Assignment when no record is created</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>finalmessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No records were created!</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>this assigns the result bases on the condition</description>
        <name>Result_Message_Assignment_when_no_results</name>
        <label>Result Message Assignment when no results</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>finalmessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Results for that ZIP CODE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>this assigns the result bases on the condition</description>
        <name>Result_Message_Assignment_when_record_is_created</name>
        <label>Result Message Assignment when record is created</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>finalmessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Record Created!</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>validates if the result is related with US countries</description>
        <name>isUSRelated</name>
        <label>isUSRelated</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Result_Message_Assignment_when_no_results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>it_s_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CallAction.2XX.countryx20abbreviation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CallAction.2XX.countryx20abbreviation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Result_Message_Assignment_when_no_record_is_created</targetReference>
            </connector>
            <label>it&apos;s US</label>
        </rules>
        <rules>
            <name>Non_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CallAction.2XX.countryx20abbreviation</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CallAction.2XX.countryx20abbreviation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Non_US_Zip_Code</targetReference>
            </connector>
            <label>Non US</label>
        </rules>
    </decisions>
    <description>This flow create a zip code record if the response of a Get call is different of &quot;US&quot; and only show results if is equals to &quot;US&quot;</description>
    <environments>Default</environments>
    <interviewLabel>Verify Zip Code {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Verify Zip Code</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates a record in Zip Codes custom object</description>
        <name>Create_Non_US_Zip_Code</name>
        <label>Create Non US Zip Code</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Result_Message_Assignment_when_record_is_created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>DML_Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Country_Ab__c</field>
            <value>
                <elementReference>CallAction.2XX.countryx20abbreviation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>CallAction.2XX.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CallAction.2XX.postx20code</elementReference>
            </value>
        </inputAssignments>
        <object>ZIP_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>DML_Error_Screen</name>
        <label>DML Error Screen</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DML_Error_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DML_Error_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DMLError</name>
                    <fieldText>&lt;p&gt;An error occurred when a record was trying to be created. Contract the Administrator for further details.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Results_Screen</name>
        <label>Error Results</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Results</name>
            <fieldText>Error Results</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Error_Results_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>errorMessage</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Status Code&lt;/strong&gt;: {!CallAction.responseCode}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Message&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;:&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt; {!CallAction.defaultExc}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Final_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Final_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ResultMessage</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;﻿{!finalmessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Results</name>
            <fieldText>Results</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Results_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Result</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Country: &lt;/strong&gt;{!CallAction.2XX.country}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Country Code: &lt;/strong&gt;{!CallAction.2XX.postx20code}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Abbreviation: &lt;/strong&gt;{!CallAction.2XX.countryx20abbreviation}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InitialScreen</name>
        <label>Initial Screen</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CallAction</targetReference>
        </connector>
        <fields>
            <name>instruction</name>
            <fieldText>&lt;p&gt;{!Instructions}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InitialScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>InitialScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Zip_Code</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>AD100</stringValue>
                    </defaultValue>
                    <fieldText>Zip Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Country_Code</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>AD</stringValue>
                    </defaultValue>
                    <fieldText>Country Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>InitialScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>This is a text with the instructions</description>
        <name>Instructions</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Instructions&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;www.zippopotam.us API need to get 2 parameters:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;1. Country Code. Ex: &lt;strong&gt;US&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;2. A zip code to consult in that country: ex: &lt;strong&gt;90210&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Step 1: Consult https://www.zippopotam.us/ to get country code and valid zip codes&lt;/p&gt;&lt;p&gt;Step 2: Fill the inputs.&lt;/p&gt;&lt;p&gt;Step 3: Click search.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>finalmessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
